#mainCarousel {
    max-width: 700px;
}

#container {
    background-color: grey;
    max-height: 600px;
}

#footer {
    background-color: black;
    height: 50px;
}

html {
    background-color: black;
}

body {
    background-color: black;
}

#footerText {
    color: grey;
    font-size: 12px;
}
#title {
    text-align:center;
    color: #410093;
}
.blink {
    -webkit-animation: blink 1.50s linear infinite;
    -moz-animation: blink 1.50s linear infinite;
    -ms-animation: blink 1.50s linear infinite;
    -o-animation: blink 1.50s linear infinite;
     animation: blink 1.50s linear infinite;
	
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}


