html {
    background-color: black;
}

body {
    background-color: black;
}

h5 {
    font-size: 18px;
    font-weight: 800;
}

h2 {
    font-size: 20px;
    color: green;
    margin: 5px 0 0 20px;
    font-weight: bold;
}

#container {
    background-color: black;
    max-height: 600px;
    margin: auto;
}

#searchContainer {
    display: flex;
	flex-direction: row;
	flex-flow: wrap;
}

#gameImg {
    max-width: 200px;
    margin: auto;
}

#footer {
    background-color: black;
    height: 50px;
}

#footerText {
    color: grey;
    font-size: 12px;
}

#title {
    text-align:center;
    color: #410093;
}
.card {
	background-color: rgba(255, 255, 255, .8);
}

.blink {
    -webkit-animation: blink 1.50s linear infinite;
    -moz-animation: blink 1.50s linear infinite;
    -ms-animation: blink 1.50s linear infinite;
    -o-animation: blink 1.50s linear infinite;
     animation: blink 1.50s linear infinite;
	
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}
